<nav class="navbar topnav">
  <div class="container">
    <div class="col-12 row justify-content-between">
      <div class="col row">
        <div class="active col-1"><a href="">Home</a></div>
        <div class="col-1"><a href="">Contact</a></div>
      </div>
      <div class="col row justify-content-end">
        <div class="btn-group col-3" dropdown>
          <a id="button-basic" dropdownToggle class="dropdown-toggle" aria-controls="dropdown-basic">
            English <span class="caret"></span>
          </a>
          <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic">
            <li role="menuitem"><a class="dropdown-item" href="#">English</a></li>
            <li role="menuitem"><a class="dropdown-item" href="#">Português</a></li>
            <li role="menuitem"><a class="dropdown-item" href="#">Espanhol</a></li>
          </ul>
        </div>
        <div class="col-1"><a href="">Login</a></div>
      </div>

    </div>
  </div>
</nav>

<header>
  <div class="container">
    <div class="row">
      <div class="col-sm-2 logo">
        <a href=""><img src="assets/images/logo.png" /></a>
      </div>
      <div class="col-sm-7">
        <div class="head_help">(11) 9999-9999</div>
        <div class="head_email">contato@<span>loja2.com.br</span></div>
        
        <div class="search_area">
          <form method="GET">
            <input type="text" name="s" required placeholder="Procure um item" />
            <select name="category">
              <option value="">Todas as Categorias</option>
            </select>
            <input type="submit" value="" />
            </form>
        </div>
      </div>
      <div class="col-sm-3">
        <a href="">
          <div class="cartarea">
            <div class="carticon">
              <div class="cartqt">9</div>
            </div>
            <div class="carttotal">
              Seu Carrinho:<br/>
              <span>R$ 999,99</span>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</header>

<div class="categoryarea">
  <div class="container">
    <div class="row">
      <div class="dropdown btn-group col-3" dropdown>
        <a id="button-basic" dropdownToggle class="dropdown-toggle" aria-controls="dropdown-basic">
          Selecione Uma Categoria 
          <span class="caret"></span>
        </a>
        <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic">
          <li role="menuitem"><a class="dropdown-item" href="#">Categoria X</a></li>
          <li role="menuitem"><a class="dropdown-item" href="#">Categoria X</a></li>
          <li role="menuitem"><a class="dropdown-item" href="#">Categoria X</a></li>
          <li role="menuitem"><a class="dropdown-item" href="#">Categoria X</a></li>
          <li role="menuitem"><a class="dropdown-item" href="#">Categoria X</a></li>
        </ul>
      </div>
      <div class="col-2">
          Categoria X
      </div>
    </div>
  </div>
</div>


<section>
  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        <aside>
          <h1>Filtro</h1>
          <div class="filterarea">

          </div>

          <div class="widget">
            <h1>Featured Products</h1>
            <div class="widget_body">
              ...
            </div>
          </div>
        </aside>
      </div>
      <div class="col-sm-9"></div>
    </div>
    </div>
  </section>

  <footer>
    <div class="container">
      <div class="row">
      <div class="col-sm-4">
        <div class="widget">
          <h1>Featured Products</h1>
          <div class="widget_body">
            ...
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="widget">
          <h1>On-Sale Products</h1>
          <div class="widget_body">
            ...
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="widget">
          <h1>Top Rated Products</h1>
          <div class="widget_body">
            ...
          </div>
        </div>
      </div>
    </div>
    </div>
    <div class="subarea">
      <div class="container">
        <div class="row">
        <div class="col-xs-12 col-sm-8 col-sm-offset-2 no-padding">
          <form method="POST">
              <input class="subemail" name="email" placeholder="Subscribe to our newsletter">
              <input type="submit" value="Subscribe" />
          </form>
        </div>
      </div>
      </div>
    </div>
    <div class="links">
      <div class="container">
        <div class="row">
        <div class="col-sm-4">
          <a href=""><img width="150" src="assets/images/logo.png" /></a><br/><br/>
          <strong>Slogan da Loja Virtual</strong><br/><br/>
          Endereço da Loja Virtual
        </div>
        <div class="col-sm-8 linkgroups">
          <div class="row">
            <div class="col-sm-4">
              <h3>Categorias</h3>
              <ul>
                <li><a href="#">Categoria X</a></li>
                <li><a href="#">Categoria X</a></li>
                <li><a href="#">Categoria X</a></li>
                <li><a href="#">Categoria X</a></li>
                <li><a href="#">Categoria X</a></li>
                <li><a href="#">Categoria X</a></li>
              </ul>
            </div>
            <div class="col-sm-4">
              <h3>Information</h3>
              <ul>
                <li><a href="#">Menu 1</a></li>
                <li><a href="#">Menu 2</a></li>
                <li><a href="#">Menu 3</a></li>
                <li><a href="#">Menu 4</a></li>
                <li><a href="#">Menu 5</a></li>
                <li><a href="#">Menu 6</a></li>
              </ul>
            </div>
            <div class="col-sm-4">
              <h3>Information</h3>
              <ul>
                <li><a href="#">Menu 1</a></li>
                <li><a href="#">Menu 2</a></li>
                <li><a href="#">Menu 3</a></li>
                <li><a href="#">Menu 4</a></li>
                <li><a href="#">Menu 5</a></li>
                <li><a href="#">Menu 6</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      </div>
    </div>
    <div class="copyright">
      <div class="container">
        <div class="row">
        <div class="col-sm-6">© <span>Loja 2.0</span> - Todos os direitos reservados.</div>
        <div class="col-sm-6">
          <div class="payments">
            <img src="assets/images/visa.png" />
            <img src="assets/images/visa.png" />
            <img src="assets/images/visa.png" />
            <img src="assets/images/visa.png" />
          </div>
        </div>
      </div>
      </div>
    </div>
  </footer>
<router-outlet></router-outlet>