<div class="product_item">
    <div class="product_tags">
        <div class="product_tag product_tag_red">SALE</div>
        <div class="product_tag product_tag_green">BESTSELLER</div>
        <div class="product_tag product_tag_blue">NEW!</div>
    </div>
    <div class="product_image">
        <img src="http://lorempixel.com/250/150/" alt="">
    </div>
    <div class="product_name">Monitor asdasd</div>
    <div class="product_brand">SONY</div>
    <div class="product_price_from">R$ 234</div>
    <div class="product_price">R$ 1213</div>
    <div style="clear:both"></div>
</div>